.container {
    padding: 1em;
}

button {
    padding: 1em;
    border-radius: 1.5em;
    cursor: pointer;
}

.itemList {
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 1em;
}